extends ../layout

block content
	div.container
		h1 Program Name
		p Enter Destination

	div.container
		h2.Calling requested number #{phonenumber} - Delayed #{delay} Seconds
		a.btn Back to Phase 4 Call Form


